*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica,arial,sans-serif;
}
@font-face{
    font-family: 'Futura-ExtraBoldCond';
    src: url("../font/futura.woff")
}
body{
    background: #f5f5f5;
}
header{
    text-align: center;
    padding: 10px 0;
    background: linear-gradient(180deg, rgb(175 174 174 / 61%) 21%, #f5f5f5 100%);
}
.container{
    max-width: 1200px;
    margin: auto;
}
.logo:hover{
    animation: animacaoLogo 2s linear infinite alternate;
}

.invitationAlert{
    text-align: center;
    margin-top: 15px;
    position: relative;
}
.invitationAlert h2{
    margin-top: 15px;
    font-size: 72px;
    color: #fe1411;
    display: inline-block;
    margin: auto;
    padding: 10px;
    font-family: 'Futura-ExtraBoldCond';
}
.formulario{
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
}

.formulario .confirmar:hover{
    color: rgb(57, 185, 19);
    cursor: pointer;
}
.invitationAlert p{
    font-size: 21px;
    margin-bottom: 10px;
}
#submit{
    background: #42d630;
    padding: 8px;
    border: 0;
    border-radius: 5px;
    color: #fff;
}
.invitationAlert .inputFormulario{
    font-size: 16px;
    padding: 10px 10px;
    width: 297px;
    border-radius: 5px;
    border: 1px solid #000;
    margin: auto;
    margin-bottom: 13px;
    display: block;
}
.bolhaEsquerda{
    position: absolute;
    width: 340px;
    height: 340px;
    top: 0;
    left: 10%;
    background: transparent;
    border-radius: 60% 40% 39% 61% / 40% 70% 30% 60%;
    box-shadow: rgb(0 0 0 / 5%) 7px 4px 23px;
}
.bolhaDireita{
    position: absolute;
    width: 340px;
    height: 340px;
    top: 55px;
    right: 10%;
    background: transparent;
    border-radius: 65% 35% 39% 61% / 30% 17% 83% 70%;
    box-shadow: rgb(0 0 0 / 5%) 7px 4px 23px;
}
.bolhacentro{
    position: absolute;
    width: 500px;
    height: 500px;
    top: 80px;
    right: calc(50% - 250px);
    background: transparent;
    border-radius: 65% 35% 39% 61% / 30% 17% 83% 70%;
    box-shadow: rgb(0 0 0 / 5%) 7px 4px 23px;
}
.cards{
    position: relative;
}
.cards .titulo{
    font-size: 38px;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Futura-ExtraBoldCond';
}
.cards .titulo strong{
    color: #e0c000;;
}
.card {
    border-radius: 25px;
    box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
    width: 280px;
    height: 360px;
    margin: 30px 58px;
    display: inline-block;
    vertical-align: top;
}
.card:hover {
    transition: 3s;
    transform: translateY(-25px);
}
.preco-antigo{
    display: block;
    padding: 0 20px;
    margin-top: 10px;
    text-decoration: line-through;
    font-size: 14px;
}
.card-topo {
    position: relative;
    height: 252px;
    background: #fa782e;
    background: -moz-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    background: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    background: linear-gradient(135deg, #fa782e 8%, #c82930 83%);
    border-radius: 25px 25px 0 0;
}
  
.card-logo {
    width: 55px;
    margin: 20px;
}
  
.imagem-produto {
    position: absolute;
    left: 0;
    margin-top: -16px;
    margin-left: 50px;
    z-index: 3;
    width: 308px;
    transform: rotate(332deg);
}

  
.produto-texto {
    padding: 0 20px;
    font-size: 11px;
    color: #fff;
    white-space: initial;
}
  
.produto-texto h2 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
  
.texto-fundo {
    display: inline-block;
    font-size: 125px;
    font-weight: 900;
    margin-left: -7px;
    margin-top: -12px;
    opacity: 0.1;
}
  
.card-corpo {
    height: 119px;
    background: #fff;
    border-radius: 0 0 25px 25px;   
    z-index: 2;
    position: relative;

}
  
.nome-produto {
    padding: 20px 20px 5px 20px;
    display: block;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}
  
.nome-produto b {
    font-weight: 900;
    letter-spacing: 0px;
}
  
.new {
    position: absolute;
    font-size: 10px;
    font-weight: 300;
    color: #fff;
    background: #11e95b;
    padding: 2px 5px;
    border-radius: 4px;
    top: 5px;
    right: 8px;
}
  
.legenda {
    display: block;
    padding: 0 20px;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
}
  
.preco-produto {
    right: -14px;
    bottom: 8px;
    position: absolute;
    background: #11e95b;
    padding: 7px 20px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    font-weight: 200;
    color: #fff;
    border-radius: 7px;
    margin-top: -13px;
    box-shadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);
}
  
.preco-produto b {
    margin-left: 5px;
}
.conjuntocards{
    display: block;
}
@media only screen and (max-width: 600px) {
    .conjuntocards {
        overflow: auto; width: 100%;overflow-x: auto;white-space: nowrap;
    }
    .card{
        margin: 30px 27px;
    }
    .imagem-produto{
        width: 280px;
    }
    .bolhacentro{
        display: none;
    }
    .bolhaEsquerda{
        display: none;
    }
    .bolhaDireita{
        display: none;
    }
}
footer{
    background: #000;
    text-align: center;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    margin-top: 70px;
    width: 100%;
}

@keyframes animacaoLogo{
    25%{
        transform: rotateZ(-15deg);
    }
      
    50%{
        transform: rotateZ(0deg);
    }
      
    75%{
        transform: rotateZ(15deg);
    }
      
    100%{
        transform: rotateZ(0deg);
    }
}